<div #appContainer class="app-container">
  <div class="align-container left-container">
    <mat-toolbar class="nav-color mat-elevation-z0 justify-content-between" style="height: 59px;">

      <app-profile-widget [displyText]="userObj.nickname" size="40px" (click)="navProfileState ? null : appNav('profile')"
      style="display: inline-flex; outline: none; cursor: pointer; border-radius: 50%;"
      [photoUrl]="userObj.profilePicture?.image"
      >
      </app-profile-widget>

      <div>
        <button mat-icon-button class="button-style-3 mr-2" (click)="navInterestState ? null : appNav('interest')"
        [ngClass]="{'button-active': navInterestState, 'mat-elevation-z3': navInterestState}"
        >
          <mat-icon>preview</mat-icon>
        </button>
        <button mat-icon-button class="button-style-3 mr-2" (click)="navContactState ? null : appNav('contact')"
        [ngClass]="{'button-active': navContactState, 'mat-elevation-z3': navContactState}"
        >
          <mat-icon matBadge="0" [matBadgeHidden]="!notification?.contact.notification" style="font-size: 18px;">contacts</mat-icon>
        </button>
      </div>

      <button mat-icon-button class="button-style-3" (click)="navSettingsState ? null : appNav('settings')"
      [ngClass]="{'button-active': navSettingsState, 'mat-elevation-z3': navSettingsState}"
      >
        <mat-icon style="font-size: 19px;">settings</mat-icon>
      </button>
    </mat-toolbar>



    <app-profile-left *ngIf="navProfileState" class="component-style custom-scrollbar" style="height:calc(100% - 59px);">
    </app-profile-left>

    <app-interest-left *ngIf="navInterestState" class="component-style custom-scrollbar" style="height:calc(100% - 59px);">
    </app-interest-left>

    <app-contact-left *ngIf="navContactState" class="component-style custom-scrollbar" style="height:calc(100% - 59px);">
    </app-contact-left>

    <app-setting-left *ngIf="navSettingsState" class="component-style custom-scrollbar" style="height:calc(100% - 59px);">
    </app-setting-left>

  </div>

  <div #appRightContainer class="align-container right-container">
    <app-profile-right *ngIf="navProfileState" class="d-block h-100">
    </app-profile-right>

    <app-interest-right *ngIf="navInterestState" class="d-block h-100">
    </app-interest-right>

    <app-contact-right *ngIf="navContactState" class="d-block h-100">
    </app-contact-right>

    <app-setting-right *ngIf="navSettingsState" class="component-style settings h-100 custom-scrollbar-2">
    </app-setting-right>
  </div>
</div>
