<mat-progress-bar [style.visibility]="loading ? 'visible' : 'hidden'" mode="indeterminate" class="loading-bar"></mat-progress-bar>

<section class="login-container">
    <a class="link" [href]="home_url">
        <img class="pointer" width="80px" [src]="wave_long_logo_url">
    </a>
    <p class="mat-title d-flex align-items-center mb-0 mt-3 poppins-font">
        <ng-container *ngIf="stepper.selectedIndex === 0">
            Login to Wave
        </ng-container>
        <ng-container *ngIf="stepper.selectedIndex === 1">
            <button mat-flat-button matRippleColor="#498299" class="category-button poppins-font" type="button"
            (click)="!loading ? stepper.previous() : null">
                {{accountForm.get('login.username/email').value}}
            </button>
        </ng-container>
        <ng-container *ngIf="stepper.selectedIndex === 2">
            Reset Password
        </ng-container>
    </p>

    <form novalidate class="form-container" [formGroup]="accountForm">
        <mat-horizontal-stepper #stepper id="account-stepper">
            <mat-step formGroupName="login" [stepControl]="accountForm.get('login')">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Username or Email</mat-label>
                    <input matInput formControlName="username/email" type="text" maxlength="50" spellcheck="false">
                    <mat-hint *ngIf="!accountInvalid">Enter your Username or Email to login</mat-hint>

                    <mat-hint *ngIf="accountInvalid">
                        Account is <strong class="my-mat-error">Invalid</strong>
                    </mat-hint>

                    <mat-error *ngIf="accountForm.get('login.username/email').hasError('required')">
                        This Field is <strong class="my-mat-error">required</strong>
                    </mat-error>
                </mat-form-field>

                <div class="d-flex justify-content-between align-items-center" style="margin-top: 24px;">
                    <a class="link" [href]="create_account_url">
                        <button mat-flat-button matRippleColor="#498299" class="back-button poppins-font" type="button">
                            Create Account
                        </button>
                    </a>
                    <button mat-raised-button disableRipple class="action-button" type="button"
                    [disabled]="accountForm.get('login.username/email').invalid" (click)="verifyAccount(stepper)">
                        Next
                    </button>
                </div>
            </mat-step>

            <mat-step formGroupName="login" [stepControl]="accountForm.get('login')">
                <mat-form-field class="w-100" appearance="outline" style="padding-bottom: 1.34375em;">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" type="password" maxlength="100" spellcheck="false">
                    <mat-hint *ngIf="accountNotActivated && !accountForm.get('login.password').hasError('required')" class="my-mat-error">
                        Please activate your account by clicking the activation link sent on your registered email, then login
                    </mat-hint>

                    <mat-hint *ngIf="accountInvalidCredentials && !accountForm.get('login.password').hasError('required')">
                        Please enter <Strong class="my-mat-error">Correct Password</Strong>
                    </mat-hint>

                    <mat-error *ngIf="accountForm.get('login.password').hasError('required')">
                        This Field is <strong class="my-mat-error">required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-checkbox disableRipple formControlName="keepMeLogined" style="padding-left: 0.5rem;">Remember Me</mat-checkbox>


                <div class="d-flex justify-content-between align-items-center" style="margin-top: 24px;">
                    <button mat-flat-button matRippleColor="#498299" class="back-button poppins-font" type="button"
                    (click)="sendPasswordResetOtp(stepper)">
                        Forgot Password?
                    </button>
                    <button mat-raised-button disableRipple class="action-button" type="button"
                    [disabled]="accountForm.get('login.password').invalid" (click)="loginFormSubmit()">
                        Login
                    </button>
                </div>
            </mat-step>

            <mat-step formGroupName="resetPassword" [stepControl]="accountForm.get('resetPassword')">
                <mat-form-field class="w-100" appearance="outline" style="padding-bottom: 1.34375em;">
                    <mat-label>OTP</mat-label>
                    <input matInput formControlName="otp" type="number" maxlength="6" spellcheck="false">
                    <mat-hint *ngIf="!otpInvalid">
                        Please enter the OTP sent to your registered email for verifying your identity. OTP expires in 15 minutes.
                    </mat-hint>

                    <mat-hint *ngIf="otpInvalid" class="my-mat-error">Please enter a valid OTP</mat-hint>

                    <mat-error *ngIf="accountForm.get('resetPassword.otp').hasError('required')">
                        OTP is <strong class="my-mat-error">required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-100" appearance="outline" style="padding-bottom: 1.34375em;">
                    <mat-label>New Password</mat-label>
                    <input matInput formControlName="password" type="password" maxlength="100" spellcheck="false">
                    <mat-hint>Create a new password by using 8 or more characters with a mix of letters, numbers & symbols</mat-hint>

                    <mat-error *ngIf="accountForm.get('resetPassword.password').hasError('pattern') && !accountForm.get('resetPassword.password').hasError('required')">
                        password must be 8 or more characters long with a mix of <strong class="my-mat-error">letters, numbers & symbols</strong>
                    </mat-error>

                    <mat-error *ngIf="accountForm.get('resetPassword.password').hasError('required')">
                        Password is <strong class="my-mat-error">required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-100" appearance="outline" style="padding-bottom: 1.34375em;">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput formControlName="confirmPassword" [type]="confirmPasswordHidden ? 'password' : 'text'" maxlength="100" spellcheck="false">
                    <button mat-icon-button matSuffix type="button" (click)="confirmPasswordHidden = !confirmPasswordHidden">
                        <mat-icon>{{confirmPasswordHidden ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>

                    <mat-hint *ngIf="accountForm.get('resetPassword').hasError('misMatch') && !accountForm.get('resetPassword.confirmPassword').hasError('required')">
                        Password <strong class="my-mat-error">Does Not Match</strong>
                    </mat-hint>
                    <mat-error *ngIf="accountForm.get('resetPassword.confirmPassword').hasError('required')">
                        Confirm Password is <strong class="my-mat-error">required</strong>
                    </mat-error>
                </mat-form-field>

                <div class="d-flex justify-content-between align-items-center" style="margin-top: 24px;">
                    <button mat-icon-button matRippleColor="#498299" (click)="!loading ? stepper.previous() : null" 
                    class="back-button poppins-font" type="button">
                        <mat-icon>keyboard_backspace</mat-icon>
                    </button>
                    <button mat-raised-button disableRipple class="action-button" type="button" (click)="resetPassword(stepper)"
                    [disabled]="accountForm.get('resetPassword').invalid">Reset Password</button>
                </div>
            </mat-step>
        </mat-horizontal-stepper>
    </form>
</section>

