<mat-toolbar class="app-status-bar justify-content-between">
  <p *ngIf="initialSetup else editeInterest" class="mat-body-2 space-gray-color-text mb-0"><strong>Select what interests you</strong></p>
  <ng-template #editeInterest>
    <p class="mat-subheading-1 space-gray-color-text mb-0"><strong style="font-family: Roboto, sans-serif;">Edit your interests</strong></p>
  </ng-template>


  <p class="mat-caption rich-black-color-text mb-0"><strong>{{chipSelectionCounter}}</strong></p>
  
  <button *ngIf="selectedInterestSaving === false" mat-icon-button disableRipple matTooltip="save" matTooltipShowDelay="500"
  [disabled]="chipSelectionCounter>0 && chipChanged ? false : true" (click)="chipSubmit()" class="button-style-6"
  >
    <mat-icon style="line-height: 22px; font-size: 30px; margin-right: 5px;">save</mat-icon>
  </button>
  <mat-spinner *ngIf="selectedInterestSaving === true" class="button-loading-spinner blue-loading-spinner" style="margin-left: 15px;">
  </mat-spinner>
</mat-toolbar>

<div class="app-container-style">
  <div class="interest" [ngClass]="{'mb-5': !last}" *ngFor="let interest_category of allInterestCategory; last as last">
    <p class="mat-body-2 rich-black-color-text d-inline-block" style="font-family: Poppins, sans-serif;">
      <strong>{{interest_category.name}}</strong>
    </p>
    <mat-chip-list [multiple]="true" [selectable]="true">
      <mat-chip disableRipple *ngFor="let interest_keyword of interest_category.interest_keyword"
      [selected]="interest_keyword.selected" (click)="chipClick(interest_keyword)"
      (selectionChange)="chipChangeSelected($event)">
        {{interest_keyword.name}}
      </mat-chip>
    </mat-chip-list>
  </div>
</div>
