<mat-toolbar class="mat-elevation-z0 app-status-bar justify-content-between">
  <ng-container *ngIf="navCreatedVuesState">
    <p class="mat-subheading-1 space-gray-color-text mb-0"><strong>Your Vues</strong></p>
    <p class="mat-caption rich-black-color-text mb-0"><strong>{{myVueArrayLength}}</strong></p>
    <button mat-icon-button disableRipple class="button-style-1 mat-elevation-z2" (click)="navStateChange('createvue')"
    [style.visibility]="myVueEmpty === false ? 'visible' : 'hidden' "
    >
      <mat-icon style="line-height: 22px;">add</mat-icon>
    </button>
  </ng-container>

  <ng-container *ngIf="navCreateVueState">
    <div>
      <button mat-icon-button disableRipple class="button-style-1 mat-elevation-z2" (click)="backToMyvue()">
        <mat-icon style="line-height: 20px; margin-right: 2.5px;">arrow_back_ios_new</mat-icon>
      </button>
      &nbsp;&nbsp;<span class="mat-body-2 space-gray-color-text mb-0"><strong>Create Your Vue</strong></span>
    </div>

    <span class="mat-caption">{{createVueStatusMessage}}</span>

    <p [hidden]="true" class="mat-body-2 space-gray-color-text mb-0"><strong>Create Your Vue</strong></p>

  </ng-container>

</mat-toolbar>


<app-created-vues class="my-vue-container w-100" *ngIf="navCreatedVuesState" (createVueRequest)="navStateChange('createvue')"
(myVueEmptyEvent)="vueEmptyEvent($event)" (reInitCreatedVue)="reInitCreatedVue($event)" [style.background-image]="vue_backgorund_url"
(myVueArrayLength)="vueArrayLengthEvent($event)"></app-created-vues>

<app-create-vue class="my-vue-container w-100" *ngIf="navCreateVueState" (linkResultStatus)="createVueStatus($event)"
(vueConstructed)="vueConstructed()" (vueSubmited)="vueSubmited()" [style.background-image]="vue_backgorund_url"></app-create-vue>