<div class="outer-container" [style.opacity]="interaction.student_interaction.new_conversation_disabled === true ? '0.7' : '1'"
[style.backgroundColor]="interaction.selected ? 'var(--white-smokes)' : null"
>
  <div class="img-container">
    <div class="img-circle">
      <div *ngIf="infoCardData.imgUrl === null" [innerHTML]="svg(interaction.student_interaction.profile.nickname)"
      style="background-color: var(--white-smokes); border-radius: 50%;"></div>
      <img *ngIf="infoCardData.imgUrl != null" class="img" [src]="infoCardData.imgUrl" (error)="infoCardData.imgUrl=null">
    </div>
  </div>

  <div class="body-container">
    <div class="header-container">
      <div class="title-container">
        <span class="title-span">
          <span class="title-text">{{infoCardData.titleText}}</span>
        </span>
      </div>

      <div *ngIf="infoCardData.contactStatus != null" class="contact-status d-flex align-items-center"
      [ngClass]="infoCardData.contactStatus.highPriority ? 'contactStatus-high-priority' : 'contactStatus-low-priority'"
      >
        <ng-container *ngIf="infoCardData.contactStatus.highPriority; else contactStatusLowPriority">
          <p class="mat-body-1 mb-0">
            <strong>{{infoCardData.contactStatus.text}}</strong>
          </p>
          <mat-icon *ngIf="infoCardData.contactStatus.symbol != null" class="ml-2">{{infoCardData.contactStatus.symbol}}</mat-icon>
        </ng-container>

        <ng-template #contactStatusLowPriority>
          <span>{{infoCardData.contactStatus.text | date:friendlyTimeFormat(infoCardData.contactStatus.text)}}</span>
          <mat-icon *ngIf="infoCardData.contactStatus.symbol != null" class="ml-2">{{infoCardData.contactStatus.symbol}}</mat-icon>
        </ng-template>
      </div>
    </div>

    <div class="sub-header-container">
      <div class="message-container">
        <span class="message-span">
          <span class="message-text">{{infoCardData.messageText}}</span>
        </span>
      </div>

      <div *ngIf="infoCardData.messageStatus != null" class="message-status" [matTooltip]="infoCardData.messageStatus.hint" matTooltipShowDelay="300">
        <mat-icon *ngIf="infoCardData.messageStatus.waiting === true" style="color: rgba(0,0,0,0.45);"
        matTooltip="In Transit" matTooltipShowDelay="300"
        >
        forward_to_inbox
        </mat-icon>

        <ng-container *ngIf="infoCardData.messageStatus.waiting === null">
          <mat-icon *ngIf="infoCardData.contactStatus.newMessage === 0" style="color: rgba(0,0,0,0.45);" matTooltip="Reply" matTooltipShowDelay="300">reply</mat-icon>
          
          <div *ngIf="infoCardData.contactStatus.newMessage > 0" class="newMessage">
            {{infoCardData.contactStatus.newMessage}}
          </div>
        </ng-container>

        <mat-icon [ngClass]="infoCardData.messageStatus.highPriority ? 'messageStatus-high-priority' : 'messageStatus-low-priority'"
        *ngIf="infoCardData.messageStatus.waiting === false"
        >
          {{infoCardData.messageStatus.highPriority ? 'done_all' : 'done'}}
        </mat-icon>
      </div>

      <div *ngIf="infoCardData.messageStatus === null && interaction.student_interaction.profile.deleted" matTooltip="Remove" matTooltipShowDelay="300">
        <mat-icon style="color: rgba(0,0,0,0.45);">
          remove_circle_outline
        </mat-icon>
      </div>
    </div>
  </div>
</div>
