<div class="background" style="height: inherit;">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>

    <app-explorers class="d-block" style="height: inherit;" *ngIf="contactOption === 0"></app-explorers>
    <app-converse class="d-block" style="height: inherit;" *ngIf="contactOption === 1"></app-converse>
    <app-draft class="d-block" style="height: inherit;" *ngIf="contactOption === 2"></app-draft>
</div>