<mat-toolbar class="mat-elevation-z0 app-status-bar justify-content-between">
  <div class="d-flex align-items-center">
    <span class="mat-subheading-1 space-gray-color-text mb-0"><strong>Vue Feed</strong></span>
    <div class="dot ml-2 mr-2"></div>
    <span class="mat-subheading-1 rich-black-color-text mb-0"><strong>{{vueFeedArray.length}}</strong></span>
  </div>
  
  <mat-button-toggle-group #locationToggle="matButtonToggleGroup" [value]="vueFeedLocationPreferance"
  (change)="locationPreferanceChnged(locationToggle.value)">
      <mat-button-toggle value="global" matTooltip="Entire Globe">
          <mat-icon class="mr-2">public</mat-icon>
      </mat-button-toggle>

      <mat-button-toggle value="country" [matTooltip]="userObj.location.country_name">
          <mat-icon class="mr-2">flag</mat-icon>
      </mat-button-toggle>

      <mat-button-toggle value="region" [matTooltip]="userObj.location.region">
          <mat-icon class="mr-2">location_city</mat-icon>
      </mat-button-toggle>

      <mat-button-toggle *ngIf="userObj.institution?.verified === true" value="institution" 
      [matTooltip]="userObj.institution?.abbreviation != null ? userObj.institution?.abbreviation : userObj.institution?.name">
          <mat-icon class="mr-2">school</mat-icon>
      </mat-button-toggle>
  </mat-button-toggle-group>
</mat-toolbar>


<div class="vue-feed-container custom-scrollbar-2" [style.background-image]="vue_backgorund_url" (scroll)="onScroll($event)">

  <div *ngIf="loading || vueError || vueEmpty || noMatchFound; else VueFeed" style="padding: 10px; height: inherit;"
  class="d-flex flex-column justify-content-center align-items-center">

    <ng-container *ngIf="loading">
      <app-loading></app-loading>
    </ng-container>

    <ng-container *ngIf="vueError">
      <div>
        <p class="mat-display-1 mb-0 d-inline-block"><strong>Sorry,</strong></p>
        <p class="mat-subheading-1 d-inline-block">&nbsp;
          <strong class="pr-2 pl-2 pt-1 pb-1" style="border:3px solid var(--rich-red); border-radius: 7px;">
            Error Occurred
          </strong>
        </p>
      </div>
      <button class="button-style-1 w-25 mt-3" mat-raised-button disableRipple type="button" (click)="getVueFeedFromIds()">
        Try Again
      </button>
    </ng-container>

    <ng-container *ngIf="vueEmpty=== true">
      <p class="mat-title" style="color:var(--gray-text); font-family: 'Poppins';">
        Your <strong>Vue Feed</strong> is empty at this moment!
      </p>
    </ng-container>

    <ng-container *ngIf="noMatchFound">
      <p class="mat-title" style="color:var(--gray-text); font-family: 'Poppins';">
        No Match Found, <strong>Sorry!</strong>
      </p>
    </ng-container>
  </div>

  <ng-template #VueFeed>
    <div *ngIf="masonryLoading" class="d-flex justify-content-center align-items-center w-100 h-100 position-absolute">
      <app-loading></app-loading>
    </div>

    <div *ngIf="!loading && vueEmpty === false && !noMatchFound" style="padding: 10px;">

      <ngx-masonry *ngIf="!interestSelected" [options]="masonryOption" [ordered]="true" (itemsLoaded)="masonryLoaded()"
      style="margin: 0 auto;" [style.visibility]="masonryLoading ? 'hidden' : 'visible'"
      >
        <app-vue ngxMasonryItem class="mb-5" [linkPreview]="VueData" [vueDisplayContext]="vueDisplayContext"
        *ngFor="let VueData of vueFeedArray | slice: currentVueFeedPosition.start:currentVueFeedPosition.end"
        (openDetailedVue)="openDetailedVue($event, VueData)">
        </app-vue>
      </ngx-masonry>
  
      <ngx-masonry *ngIf="interestSelected" [options]="masonryOption" [ordered]="true" (itemsLoaded)="masonryLoaded()"
      style="margin: 0 auto;" [style.visibility]="masonryLoading ? 'hidden' : 'visible'"
      >
        <app-vue ngxMasonryItem class="mb-5" [linkPreview]="VueData" [vueDisplayContext]="vueDisplayContext"
        *ngFor="let VueData of vueFeedArray" (openDetailedVue)="openDetailedVue($event, VueData)"
        >
        </app-vue>
      </ngx-masonry>
  
      <div *ngIf="!interestSelected" [style.visibility]="(fetchMoreLoading || fetchMoreError || !fetchMore) && !masonryLoading ? 'visible' : 'hidden'"
      style="height: 40px;" class="d-flex justify-content-center align-items-center mt-4"
      >
        <app-loading *ngIf="fetchMoreLoading"></app-loading>
        <span *ngIf="fetchMoreError" class="my-mat-error mat-subheading-1" style="font-family: Poppins;">
          <strong>Something Went Wrong!</strong>
        </span>
        <span *ngIf="!fetchMore && !fetchMoreLoading" class="mat-caption gray-color-text" style="font-family: Poppins;">
          <strong>That's All, For Now!</strong>
        </span>
      </div>
  
    </div>
  </ng-template>
</div>

<div *ngIf="detailedVueOpened" class="d-flex justify-content-center align-items-center frosted-glass-blur w-100" 
style="z-index: 1; position: absolute; top: 59px; height: calc(100% - 59px);">
  <app-display-vue style="width: 95%; height: 75%;" [mode]="{create: false, edit: false, display: true}"
  [linkPreview]="deatiledVueData" [vueDisplayContext]="vueDisplayContext" (closeDetailedVue)="openDetailedVue($event)">
  </app-display-vue>
</div>