<div class="model d-flex flex-column justify-content-between">
  <div class="model-title mb-2">
    <p class="mat-headline"><strong>{{notifyData.title}}</strong></p>
    <mat-divider></mat-divider>
  </div>
  <div class="model-content d-flex justify-content-center">
    <p class="mat-body-2">{{notifyData.body}}</p>
  </div>
  <div class="mt-2 d-flex justify-content-center">
    <ng-container *ngIf="!notifyData.singleAction">
      <button mat-stroked-button disableRipple class="model-button-style-2 w-50" style="height: 2.5rem; border-radius: 0px 0px 0px 10px;"
        (click)="response.emit(false)"
        >
          Cancel
      </button>
      <button mat-stroked-button disableRipple class="button-style-1 button-load-style w-50" style="height: 2.5rem; border-radius: 0px 0px 10px 0px;"
      (click)="notifyData.actionLoading ? null : response.emit(true)"
      >
        <mat-spinner *ngIf="notifyData.actionLoading; else actionNotLoading" class="button-loading-spinner white-loading-spinner">
        </mat-spinner>
        <ng-template #actionNotLoading>
          {{notifyData.action}}
        </ng-template>
      </button>
    </ng-container>

    <button *ngIf="notifyData.singleAction" mat-stroked-button disableRipple class="button-style-1 button-load-style w-25 mb-3" style="height: 2.5rem;"
    (click)="notifyData.actionLoading ? null : response.emit(true)"
    >
      <mat-spinner *ngIf="notifyData.actionLoading; else actionNotLoading" class="button-loading-spinner white-loading-spinner">
      </mat-spinner>
      <ng-template #actionNotLoading>
        {{notifyData.action}}
      </ng-template>
    </button>
  </div>
</div>