<mat-toolbar class="app-status-bar">
    <p class="mat-subheading-1 space-gray-color-text mb-0"><strong>Profile</strong></p>
</mat-toolbar>

<div class="app-container-style profile-container custom-scrollbar-2" (scroll)="onScroll($event)">

    <div *ngIf="myPublicVueArray.length === 0" class="d-flex flex-column justify-content-center align-items-center h-100">
        <div class="d-flex align-items-center justify-content-center glass-blur" 
        style="background-color:rgba(239,238,233, 0.5); border-radius: 50px; padding: 20px; box-shadow: var(--shadow-dense);"
        >
            <mat-icon class="space-gray-color-text" style="height:60px;width:60px;font-size:60px;">person</mat-icon>
        </div>
        <span class="mat-headline space-gray-color-text mb-0 mt-2" style="font-family: Poppins, sans-serif;">
            Welcome to your Profile
        </span>

        <span class="mat-subheading-2 space-gray-color-text mb-0 mt-4" style="font-family: Poppins, sans-serif;">
            All your public Vues and Discoveries will appear here
        </span>
    </div>

    <ng-container *ngIf="myPublicVueArray.length > 0">
        <app-discovery class="d-block w-100 mb-5" (openDetailedVue)="openDetailedVue(true, $event)"></app-discovery>

        <div *ngIf="masonryLoading" class="d-flex flex-column justify-content-center align-items-center">
            <app-loading></app-loading>
        </div>

        <ngx-masonry [options]="masonryOption" [ordered]="true" (layoutComplete)="masonryLoaded()" style="margin: 0 auto;"
        [style.visibility]="masonryLoading ? 'hidden' : 'visible'"
        >
            <app-vue ngxMasonryItem class="mb-5" [linkPreview]="myDataVue" [profileVue]="true" *ngFor="let myDataVue of myDataVueArray"
            (openDetailedVue)="openDetailedVue($event, myDataVue)"></app-vue>
        </ngx-masonry>

        <div [style.visibility]="(fetchMoreLoading || !fetchMore) && !masonryLoading ? 'visible' : 'hidden'"
        style="height: 40px;" class="d-flex justify-content-center align-items-center mt-4"
        >
            <app-loading *ngIf="fetchMoreLoading"></app-loading>
            <span *ngIf="!fetchMore && !fetchMoreLoading" class="mat-caption gray-color-text" style="font-family: Poppins;">
                <strong>That's All</strong>
            </span>
        </div>
    </ng-container>
</div>

<div *ngIf="detailedVueOpened" class="d-flex justify-content-center align-items-center frosted-glass-blur profile-display-vue-container">
    <app-display-vue style="width: 95%; height: 75%;" [mode]="{create: false, edit: false, display: true}" [profileVue]="true"
    [linkPreview]="deatiledVueData" (closeDetailedVue)="openDetailedVue($event)"></app-display-vue>
</div>