// Override the typography in the core CSS.
@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
  $font-family: 'Inter, sans-serif'
);

@include mat-core($custom-typography);

html, body { height: 100%; }
body {
   margin: 0;
   font-family: "Inter", sans-serif;
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	-moz-osx-font-smoothing: antialiased;
  }

:root{
    --pacific-blue: #233E49;
    --medium-blue: #259bcd;
    --light-medium-blue: #c1e4f3;
    --light-blue:#97cddc;
    --gray-text: #767681;
    --rich-yellow: #F3D060;
    --rich-red: #BA0C2E;
    --rich-black: #25282A;
    --rich-gray: #dddbd1;
    --primiam-gray: #f2f2f2;
    --primiam-gray-text: #70757a;
    --white: #F9F6EF;
    --white-smokes: #f5f5f5;
    --creme-white: #efeee9;
    --gray-background: #f1f3f4;
    --space-gray: #535150;
    --silver: #E4E4E2;
    --sucess: #009688;
    --link-text-size: 12px;
    --logo-text-size: 25px;

    --shadow-dense: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
    --shadow-medium-spread: 1px 1px 8px 1px #dcdcdc;
    --shadow-3d: 0 40px 85px rgb(0 0 0 / 30%);
    --shadow-whatsapp: 0 17px 50px 0 rgb(0 0 0 / 19%), 0 12px 15px 0 rgb(0 0 0 / 24%);
    --shadow-cool: 0 5px 5px 0 rgb(154 160 185 / 5%), 0 5px 30px 0 rgb(166 173 201 / 22%);
}
.rich-black-color-text{
  color: var(--rich-black);
}

.pacific-blue-text{
  color: var(--pacific-blue);
}

.red-color-text{
  color: var(--rich-red);
}

.gray-color-text{
  color: var(--gray-text);
}

.light-medium-blue-text{
  color: var(--light-medium-blue);
}

.medium-blue-text{
  color: var(--medium-blue);
}

.space-gray-color-text{
  color: var(--space-gray);
}

.white-smokes-color-text{
  color: var(--white-smokes);
}

.white-color-text{
  color: var(--white);
}

.highlight {
  background: linear-gradient(180deg,rgba(255,255,255,0.2) 90%, #BA0C2E 0%);
}

.pointer{
  cursor: pointer;
}

.gray-background{
  background-color: #dddbd1;
  background-image: linear-gradient(180deg,#dddbd1,#d2dbdc);
}

.mat-focus-indicator{
    outline: 0 !important;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick{
  color: var(--pacific-blue);
}

.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
  color: var(--rich-red);
}

.mat-tab-label-active{
  color: var(--rich-black) !important;
  opacity: 1 !important;
  }

.mat-tab-group.mat-primary .mat-ink-bar{
    background-color: var(--pacific-blue);
}

.mat-tab-label, .mat-tab-link{
    color: var(--rich-black);
}

.nav-header-tab{
  > mat-tab-header{
    border-bottom: none !important;
    //background-color: var(--gray-background);
  }

  > .mat-tab-body-wrapper{
    margin-top: 0.5rem;
    height: 100%;

    > mat-tab-body{
      > .mat-tab-body-content{
        scrollbar-color: rgba(0,0,0,.2) hsla(0,0%,100%,.1);
        scrollbar-width: thin;
        overflow-y: auto;
      }
      .mat-tab-body-content::-webkit-scrollbar{
        width: 8px!important;
        height: 8px!important;
      }
      .mat-tab-body-content::-webkit-scrollbar-thumb{
        background-color: rgba(0,0,0,.2);
      }
    }
  }
}

.contact-header-tab{
  > mat-tab-header{
    > .mat-tab-label-container{
      > .mat-tab-list{
        > .mat-tab-labels{
          justify-content: space-evenly;
          > .mat-tab-label{
            padding: 0px;
            min-width: 110px;
          }
        }
      }
    }
  }
}

.explorer-header-tab{
  > .mat-tab-body-wrapper{
    height: 100%;

    > mat-tab-body{
      > .mat-tab-body-content{
        scrollbar-color: rgba(0,0,0,.2) hsla(0,0%,100%,.1);
        scrollbar-width: thin;
        overflow-y: auto;
      }
      .mat-tab-body-content::-webkit-scrollbar{
        width: 8px!important;
        height: 8px!important;
      }
      .mat-tab-body-content::-webkit-scrollbar-thumb{
        background-color: rgba(0,0,0,.3);
      }
      .mat-tab-body-content::-webkit-scrollbar-track{
        background: var(--white-smokes);
      }
    }
  }
}

.mat-form-field.mat-focused .mat-form-field-ripple{
    background-color: var(--pacific-blue);
}

.mat-form-field.mat-focused .mat-form-field-label{
  color: var(--pacific-blue) !important;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: var(--rich-red) !important;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-ripple{
  background-color: var(--rich-red) !important;
}

.mat-form-field-ripple{
    background-color: var(--pacific-blue);
}

.disabled-form-field .mat-input-element:disabled{
  color: var(--rich-black);
}

.disabled-form-field .mat-form-field-disabled .mat-form-field-underline{
  background-image: none !important;
  background-color: rgba(0,0,0,0) !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: var(--pacific-blue);
}

.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element,
.mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element {
  background: var(--pacific-blue);
}

.mat-badge-content{
  right: -4px !important;
  top: -4px !important;
  width: 8px !important;
  height: 8px !important;
  line-height: 8px !important;
  font-weight: 200 !important;
  font-size: 9px !important;
  color: var(--rich-red) !important;
  background: var(--rich-red) !important;
  box-shadow: 0 0 0.5em 0 var(--rich-red), 0 0 0.5em 0 var(--rich-red), 0 0 0 rgba(186, 12, 46, 0.4);
  animation: notifyPulse 1s infinite;
}

@keyframes notifyPulse {
  0% {
    box-shadow: 0 0 0.5em 0 var(--rich-red), 0 0 0.5em 0 var(--rich-red), 0 0 0 rgba(186, 12, 46, 0.4);
  }
  70% {
      box-shadow: 0 0 0.5em 0 var(--rich-red), 0 0 0.5em 0 var(--rich-red), 0 0 0 20px rgba(186, 12, 46, 0);
  }
  100% {
      box-shadow: 0 0 0.5em 0 var(--rich-red), 0 0 0.5em 0 var(--rich-red), 0 0 0 rgba(186, 12, 46, 0);
  }
}

.form-field-loading-spinner{
  width: 18px !important;
  height: 18px !important;
  margin-right: 10px !important;
}

.form-field-loading-spinner svg{
  width: 18px !important;
  height: 18px !important;
}

.button-load-style{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  line-height: 25px !important;
}

.button-loading-spinner{
  width: 25px !important;
  height: 25px !important;
}

.button-loading-spinner svg{
  width: 25px !important;
  height: 25px !important;
}

.small-button-load-style{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  line-height: 15px !important;
  width: 100px !important;
  height: 40px !important;
}

.small-button-loading-spinner{
  width: 20px !important;
  height: 20px !important;
}

.small-button-loading-spinner svg{
  width: 20px !important;
  height: 20px !important;
}

.vue-loading-spinner{
  width: 15px !important;
  height: 15px !important;
}

.vue-loading-spinner svg{
  width: 15px !important;
  height: 15px !important;
}

.white-loading-spinner circle{
  stroke: white !important;
}

.blue-loading-spinner circle{
  stroke: var(--pacific-blue) !important;
}

.red-loading-spinner circle{
  stroke: var(--rich-red) !important;
}


#vue-description-textarea  .mat-form-field-infix {
  padding: 0px !important;
  padding-bottom: .5em !important;
  padding-top: .9em !important;
  line-height: 1.5em !important;
  border-top:0px !important;
}

.profile-form{
  background-color: white;
  border-radius: 5px;
  margin-top: 0.5rem;
}

.profile-form .mat-form-field-appearance-standard .mat-form-field-flex {
  padding-top: 0px !important;
}

.profile-form .mat-form-field-infix{
  border-top: 0px;
}


.mat-datepicker-toggle-default-icon{
    width: 1.5em !important;
}
.mat-datepicker-toggle-active{
    color: var(--pacific-blue);
}

.button-style-1{
    background-color: var(--pacific-blue);
    color: white;
}
.button-style-1:focus{
    outline: none;
}
.button-style-1:active{
    background-color: white;
    color: var(--pacific-blue);
}

.button-style-2{
    background-color: var(--gray-background);
    color: var(--pacific-blue);
}
.button-style-2:focus{
    outline: none;
}
.button-style-2:active{
    background-color: var(--pacific-blue);
    color: white;
}

.button-style-3{
  color: var(--gray-text);
}
.button-style-3:focus{
  outline: none;
}
.button-style-3:active{
  color: var(--pacific-blue);
}

.button-style-4{
  color: var(--gray-text) !important;
  background-color: var(--white-smokes) !important;
}
.button-style-4:active{
  color: var(--white-smokes);
  background-color: var(--gray-text);
}

.button-style-5{
  background-color: var(--gray-background);
  color: var(--light-pacific-blue);
}

.button-style-6{
  color: var(--pacific-blue);
}

.button-style-7{
  color: var(--rich-red);
}

.button-style-8{
  background-color: var(--medium-blue);
  color: var(--white-smokes);
}

.button-style-8:active{
  background-color: var(--white-smokes);
  color: var(--medium-blue);
}

.button-style-9{
  background-color: var(--white-smokes);
  color: var(--pacific-blue);
}

.button-error-style{
  background-color: var(--white-smokes);
  color: var(--rich-red);
}

.button-error-style:active{
  background-color: var(--rich-red);
  color: var(--white-smokes);
}

.button-error-style-2{
  background-color: var(--rich-red);
  color: var(--white-smokes);
}

.button-error-style-2:active{
  background-color: var(--white-smokes);
  color: var(--rich-red);
}

.button-active{
  color: var(--pacific-blue);
}

.button-active-2{
  background-color: var(--pacific-blue) !important;
  color: white !important;
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}

.button-active-4{
  color: var(--white-smokes);
  background-color: var(--gray-text);
}

.mat-error{
  color: var(--gray-text) !important;
}

.mat-hint{
  color: var(--gray-text) !important;
}

.my-mat-error{
    color: var(--rich-red) !important;
}
.my-mat-success{
    color: var(--sucess) !important;
}
.my-mat-link{
    color:var(--light-pacific-blue) !important;
    cursor: pointer;
}
.my-mat-link:active, .my-mat-link:focus{
    outline: 0;
    border: none;
}

.stepper-form-next-button .mat-figure{
    justify-content: flex-end !important;
}
.stepper-form-navigate-button .mat-figure{
    justify-content: space-between !important;
}
#signup-stepper .mat-horizontal-stepper-header-container{
    display: None;
}
#institution-registration .mat-horizontal-stepper-header-container{
    display: none;
}

.mat-chip-list-wrapper{
  margin: 0px !important;
}

.vue-interest-scroll .drag-scroll-content{
  text-align: center;
}


.multi-content-scroll{
  > .drag-scroll-wrapper{
    height: 100% !important;

    > .drag-scroll-content{
      display: flex !important;
      align-items: center;
      height: 100% !important;
    }
  }
}

mat-slider {
  width: 100%;

  > .mat-slider-wrapper{
    > .mat-slider-track-wrapper{
        > .mat-slider-track-fill{
            background-color: var(--pacific-blue) !important;
        }
    }

    > .mat-slider-thumb-container{
      > .mat-slider-thumb{
        background-color: var(--pacific-blue) !important;
      }
    }
  }
}

.mat-standard-chip{
  border: 2.3px solid var(--silver) !important;
  background-color: inherit !important;
  color: var(--rich-black) !important;
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary{
  border: 2.3px solid var(--pacific-blue) !important;
  background-color: var(--pacific-blue) !important;
  color: white !important;
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}

.mat-chip.mat-standard-chip::after {
  background: none !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb{
  background-color: var(--pacific-blue);
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar{
  background-color: rgba(35, 62, 73, 0.52);
}

.mat-slide-toggle.mat-checked .mat-ripple-element {
  background-color: var(--pacific-blue);
}

.disable-select {
  user-select: none; /* supported by Chrome and Opera */
 -webkit-user-select: none; /* Safari */
 -khtml-user-select: none; /* Konqueror HTML */
 -moz-user-select: none; /* Firefox */
 -ms-user-select: none; /* Internet Explorer/Edge */
}


.mat-dialog-container{
  display: contents !important;
}

.app-container-style{
  position: relative;
  top: 59px;
  padding: 10px;
}

.app-status-bar{
  position: absolute;
  z-index: 10;
  height: 59px;
  box-shadow: var(--shadow-medium-spread);
  background-color: rgba(239,238,233, 0.8);
  backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
}

.glass-blur{
  backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
}

.frosted-glass-blur{
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
}

@supports not (backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%)){
  .app-status-bar{
    background-color: var(--white-smokes);
  }
  .glass-blur{
    background-color: rgba(245, 245, 245, 0.5);
  }
  .frosted-glass-blur{
    background-color: rgba(0, 0, 0, 0.7);
  }
}


.vue-grid{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(260px,1fr));
  grid-auto-rows: auto;
}

.item{
  justify-self: center;
}

.vue-box{
  background-color: white;
}

.flex-drag-scroll{
  > .drag-scroll-wrapper{
      >.drag-scroll-content{
          display: flex !important;
          justify-content: center !important;
          align-items: center !important;
          text-align: center;
      }
  }
}

.nowrap {
  overflow: hidden !important;
  white-space: nowrap;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px!important;
  height: 8px!important;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.2);
  cursor: pointer;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover{
  background-color: rgba(0,0,0,.6);
}
.custom-scrollbar::-webkit-scrollbar-track {
background: white;
}


.custom-scrollbar-2::-webkit-scrollbar {
  width: 8px!important;
  height: 8px!important;
}
.custom-scrollbar-2::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.2);
}
.custom-scrollbar-2::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0,0,0,.6);
}
.custom-scrollbar-2::-webkit-scrollbar-track {
  background: var(--white-smokes);
}


.custom-scrollbar-3::-webkit-scrollbar {
  width: 8px!important;
  height: 8px!important;
}
.custom-scrollbar-3::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.2);
}
.custom-scrollbar-3::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0,0,0,.6);
}
.custom-scrollbar-3::-webkit-scrollbar-track {
  background: var(--creme-white);
}

.custom-scrollbar-4::-webkit-scrollbar {
  width: 8px!important;
  height: 8px!important;
}
.custom-scrollbar-4::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.6);
}
.custom-scrollbar-4::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255,255,255,1);
}
.custom-scrollbar-4::-webkit-scrollbar-track {
  background: var(--pacific-blue);
}